*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #E2E70C;
    color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#E2E70C,#e2e70c);
    color: rgb(0, 0, 0);
}

.escola{
    background-image: linear-gradient(#e2E70C,#e2e70c);
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 24px 0;
}

.body {
    background-color: #E2E70C
    font-family 'poppins , sans-serif';
}
.estudante-titulo{
    text-align: center;
    padding: 24px 0;
    background-color: #ebee2f;
}
.estudante-imagem{
    width: 120px;
}
.estudante-div{
    text-align: center;
    padding: 16px 0;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #ebee2f;
}
.rodape{
    background-color: #e2E70C;
    text-align: center;
}
.rodape-imagem{
    height: 70px;
    padding: 12px 0;

}
